section {
    display: flex;
    justify-content: space-around;
    background-color: rgb(153, 197, 200);
   
}

.addVolonteer {
    background-color: rgb(153, 197, 200);
}

.alterVolonteer {
    background-color: rgb(153, 197, 200);
}

.title {
    margin-top: 60px;

}

h1 {
    font-family: Marker Felt, fantasy;
}

h2 {
    font-family: Marker Felt, fantasy; 
    font-weight:300;
  
}

span {
    margin-left: 10px;
}